/* Overwrite Bootstrap */
.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
	vertical-align: middle;
}
.table>tbody+tbody {
	border: 0;
}

/* Site style */
header#header {
	background: #07A5CC;
	color: #fff;
	margin-bottom: 30px;
}
header#header h2 {
	margin: 20px 0;
}

.toolbar {
	margin-bottom: 30px; 
}

.list-view {}
.list-view .table {
	border: 1px solid #ddd;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 10px;
}
.list-view .table th {
	background: #ddd;
}

.list-view .table th:last-child,
.list-view .table td:last-child {
	width: 100px;
	text-align: center;
}

.list-view .btn {
	padding-right: 10px;
	padding-left: 10px;
}
.list-view .btn .fa {
	font-size: 16px;
}
.list-view tbody td {
	position: relative;
}
.list-view tbody td .edit-button {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 8px;
	opacity: 0;
	filter: alpha(opacity=0);
	color: #d58512;
}
.list-view tbody td:hover .edit-button {
	opacity: 1;
	filter: alpha(opacity=100);
}
.list-view tbody td .input-group {
	margin-top: 8px;
	max-width: 300px;
}

footer#footer {
	border-top: 3px solid #07A5CC;
	margin-top: 30px;
	padding-top: 15px;
}

.sortorder:after {
	content: '\f0dd';
}
.sortorder.reverse:after {
	content: "\f0de";
}

.frm-group {}
.frm-group .modal-content {
	overflow: hidden;
}
.frm-group .modal-header {
	text-transform: capitalize;
	background-color: #337ab7;
	color: #fff;
}

.frm-group .input-group {
	margin-bottom: 10px;
}
.frm-group .input-group-addon {
	min-width: 40px;
}

@media (min-width: 768px) and (max-width: 992px){
	.list-view tbody .btn + .btn {
		margin-top: 5px;
	}
}

@media (max-width: 767px){
	.search-box {
		margin-bottom: 20px;
	}
}

@media (min-height: 600px){
	footer#footer {
		position: fixed;
		bottom: 0;
		width: 100%;
	}
}