<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>SCRUD with AngularJs</title>

		<!-- Bootstrap CSS -->
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">

		<!-- jQuery -->
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
		<script src="js/app.js"></script>

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		<header id="header">
			<div class="container">
				<h2>Contact Management</h2>
			</div>
		</header>
		<main id="main">
			<div class="container">
				<div class="contact-manage" ng-app="contactManage">
					<div ng-controller="ListContactCtrl as listContact">
						<div class="row toolbar">
							<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
								<div class="input-group search-box">
									<input type="text" class="form-control" placeholder="Search ..." ng-model="query">
									<span class="input-group-btn">
										<button class="btn btn-primary" title="search contact"><i class="fa fa-search"></i></button>
									</span>
								</div>
							</div>
							<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
								<button class="btn btn-primary pull-right" data-toggle="modal" data-target="#addNewModal">Add new Contact</button>		
							</div>
						</div>

						<div class="table-responsive list-view">
							<table class="table table-hover">
								<thead>
									<tr>
										<th>Email</th>
										<th>Full name</th>
										<th>Gender</th>
										<th>Address</th>
										<th>Phone</th>
										<th>Option</th>
									</tr>
								</thead>
								<tbody ng-repeat="contact in listContact.contacts | filter:query">
									<tr>
										<td>{{contact.email}}</td>
										<td>{{contact.firstname}} {{contact.lastname}}</td>
										<td>{{contact.gender}}</td>
										<td>{{contact.address}}</td>
										<td>{{contact.phone}}</td>
										<td>
											<button class="btn btn-warning" title="Edit Contact" ng-click="listContact.getUpdate(contact.email)"><i class="fa fa-edit"></i></button>
											<button class="btn btn-danger" title="Remove Contact" ng-click="listContact.delete(contact.email)"><i class="fa fa-close"></i></button>
										</td>
									</tr>
								</tbody>
							</table>
							<p>Have {{listContact.contacts.length}} contacts</p>
						</div>

						<!-- Add New Modal -->
						<div class="modal fade" id="addNewModal" tabindex="-1" role="dialog" aria-labelledby="addNewModal">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<form ng-submit="listContact.create()">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
											<h4 class="modal-title" id="myModalLabel">Add new Contact</h4>
										</div>
										<div class="modal-body">
												<div class="input-group">
													<span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
													<input type="text" class="form-control" placeholder="Email" required="required" ng-model="listContact.email">
												</div>
												<div class="input-group">
													<span class="input-group-addon"><i class="fa fa-user"></i></span>
													<input type="text" class="form-control" placeholder="First Name" ng-model="listContact.firstname">
												</div>
												<div class="input-group">
													<span class="input-group-addon"><i class="fa fa-user"></i></span>
													<input type="text" class="form-control" placeholder="Last Name" required="required" ng-model="listContact.lastname">
												</div>
												<div class="input-group">
													<span class="input-group-addon"><i class="fa fa-genderless"></i></span>
													<select name="" class="form-control" ng-model="listContact.gender">
														<option value="">Gender</option>
														<option value="male">Male</option>
														<option value="female">Female</option>
														<option value="others">Others</option>
													</select>
												</div>
												<div class="input-group">
													<span class="input-group-addon"><i class="fa fa-phone"></i></span>
													<input type="text" class="form-control" placeholder="Address" ng-model="listContact.address">
												</div>
												<div class="input-group">
													<span class="input-group-addon"><i class="fa fa-location-arrow"></i></span>
													<input type="text" class="form-control" placeholder="Phone Number" ng-model="listContact.phone">
												</div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
											<button type="submit" class="btn btn-primary">Save</button>
										</div>
									</form>
								</div>
							</div>
						</div>

						<!-- Add New Modal -->
						<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModal">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<form ng-submit="listContact.update(listContact.email)">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
											<h4 class="modal-title" id="myModalLabel">Add new Contact</h4>
										</div>
										<div class="modal-body">
												<div class="input-group">
													<span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
													<input type="text" class="form-control" placeholder="Email" required="required" ng-value="listContact.email" ng-model="listContact.email">
												</div>
												<div class="input-group">
													<span class="input-group-addon"><i class="fa fa-user"></i></span>
													<input type="text" class="form-control" placeholder="First Name" ng-value="listContact.firstname" ng-model="listContact.firstname">
												</div>
												<div class="input-group">
													<span class="input-group-addon"><i class="fa fa-user"></i></span>
													<input type="text" class="form-control" placeholder="Last Name" required="required" ng-value="listContact.lastname" ng-model="listContact.lastname">
												</div>
												<div class="input-group">
													<span class="input-group-addon"><i class="fa fa-genderless"></i></span>
													<select name="" class="form-control" ng-model="listContact.gender">
														<option value="">Gender</option>
														<option value="">Male</option>
														<option value="">Female</option>
														<option value="">Others</option>
													</select>
												</div>
												<div class="input-group">
													<span class="input-group-addon"><i class="fa fa-phone"></i></span>
													<input type="text" class="form-control" placeholder="Address" ng-value="listContact.phone" ng-model="listContact.address">
												</div>
												<div class="input-group">
													<span class="input-group-addon"><i class="fa fa-location-arrow"></i></span>
													<input type="text" class="form-control" placeholder="Phone Number" ng-value="listContact.address" ng-model="listContact.phone">
												</div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
											<button type="submit" class="btn btn-primary">Save</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
		<footer id="footer">
			<div class="container">
				<address>
				&copy 2015, Power by AngularJs, Developer by Ton Cuong
				</address>
			</div>
		</footer>
	</body>
</html>