<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>SCRUD with AngularJs</title>

		<!-- Bootstrap CSS -->
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">

		<!-- jQuery -->
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
		<script src="js/app.js"></script>

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		<header id="header">
			<div class="container">
				<h2>Contact Management</h2>
			</div>
		</header>
		<main id="main">
			<div class="container">
				<div class="contact-manage" ng-app="contactManagement">
					<div ng-controller="ListContactCtrl">
						<div class="row toolbar">
							<div class="col-xs-8 col-sm-4">
								<div class="search-box">
									<input type="text" class="form-control" placeholder="Search ..." ng-model="query">
								</div>
							</div>
							<div class="col-xs-4 col-sm-8 text-right">
								<button class="btn btn-warning" ng-click="predicate=''">Clear Sort</button>
								<button class="btn btn-primary" data-toggle="modal" data-target="#addNewModal">Add new Contact</button>
							</div>
						</div>

						<div class="table-responsive list-view">
							<table class="table table-hover">
								<thead>
									<tr>
										<th>
											<a href="" ng-click="order('email')">Email</a>
											<span class="sortorder fa" ng-show="predicate === 'email'" ng-class="{reverse:reverse}"></span>
										</th>
										<th>
											<a href="" ng-click="order('firstname')">First name</a>
											<span class="sortorder fa" ng-show="predicate === 'firstname'" ng-class="{reverse:reverse}"></span>
										</th>
										<th>
											<a href="" ng-click="order('lastname')">Last name</a>
											<span class="sortorder fa" ng-show="predicate === 'lastname'" ng-class="{reverse:reverse}"></span>
										</th>
										<th>
											<a href="" ng-click="order('gender')">Gender</a>
											<span class="sortorder fa" ng-show="predicate === 'gender'" ng-class="{reverse:reverse}"></span>
										</th>
										<th>
											<a href="" ng-click="order('phone')">Phone</a>
											<span class="sortorder fa" ng-show="predicate === 'phone'" ng-class="{reverse:reverse}"></span>
										</th>
										<th>
											<a href="" ng-click="order('address')">Address</a>
											<span class="sortorder fa" ng-show="predicate === 'address'" ng-class="{reverse:reverse}"></span>
										</th>
										<th>Option</th>
									</tr>
								</thead>
								<tbody ng-repeat="contact in contacts | filter:query | orderBy:predicate:reverse">
									<tr ng-show="!showUpdate">
										<td>
											{{contact.email}}
										</td>
										<td>
											{{contact.firstname}}
										</td>
										<td>
											{{contact.lastname}}
										</td>
										<td>
											{{contact.gender}}
										</td>
										<td>
											{{contact.phone}}
										</td>
										<td>
											{{contact.address}}
										</td>
										<td>
											<button class="btn btn-warning" title="Edit Contact" ng-show="!showUpdate" ng-click="data = contact; showUpdate = true"><i class="fa fa-edit"></i></button>
											<button class="btn btn-danger" title="Remove Contact" ng-click="delete(contact.email)"><i class="fa fa-close"></i></button>
										</td>
									</tr>
									<tr ng-show="showUpdate">
										<td><input type="text" class="form-control" ng-model="data.email"></td>
										<td><input type="text" class="form-control" ng-model="data.firstname"></td>
										<td><input type="text" class="form-control" ng-model="data.lastname"></td>
										<td>
											<select class="form-control" ng-model="data.gender" ng-change="data.gender" ng-options="gender for gender in genders"></select>
										</td>
										<td><input type="text" class="form-control" ng-model="data.phone"></td>
										<td><input type="text" class="form-control" ng-model="data.address"></td>
										<td>
											<button class="btn btn-primary" ng-click="update(contact, data); showUpdate = false;"><i class="fa fa-save"></i></button>
										</td>
									</tr>
								</tbody>
							</table>
							<p>Have {{contacts.length}} contacts</p>
						</div>

						<!-- Add New Modal -->
						<div class="modal fade" id="addNewModal" tabindex="-1" role="dialog" aria-labelledby="addNewModal" ng-controller="AddContactCtrl">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<form ng-submit="create(contact)">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
											<h4 class="modal-title" id="myModalLabel">Add new Contact</h4>
										</div>
										<div class="modal-body">
												<div class="input-group">
													<span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
													<input type="text" class="form-control" placeholder="Email" required="required" ng-model="contact.email">
												</div>
												<div class="input-group">
													<span class="input-group-addon"><i class="fa fa-user"></i></span>
													<input type="text" class="form-control" placeholder="First Name" ng-model="contact.firstname">
												</div>
												<div class="input-group">
													<span class="input-group-addon"><i class="fa fa-user"></i></span>
													<input type="text" class="form-control" placeholder="Last Name" required="required" ng-model="contact.lastname">
												</div>
												<div class="input-group">
													<span class="input-group-addon"><i class="fa fa-genderless"></i></span>
													<select class="form-control" ng-model="contact.gender" ng-options="gender for gender in genders">
														<option value="">-- Choose gender --</option>
													</select>
												</div>
												<div class="input-group">
													<span class="input-group-addon"><i class="fa fa-phone"></i></span>
													<input type="text" class="form-control" placeholder="Phone" ng-model="contact.phone">
												</div>
												<div class="input-group">
													<span class="input-group-addon"><i class="fa fa-location-arrow"></i></span>
													<input type="text" class="form-control" placeholder="Address" ng-model="contact.address">
												</div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
											<button type="submit" class="btn btn-primary">Save</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
		<footer id="footer">
			<div class="container">
				<address>
				&copy 2015, Power by AngularJs, Developer by Ton Cuong
				</address>
			</div>
		</footer>
	</body>
</html>
